.DS_Store
*.log
*.bak
*.org
Thumbs.db
node_modules
build
*.node
components
dummy
coverage
*.orig
psd
*.psd
.idea
sandbox
test/out-fixtures/*
test/watch-*.txt
gulp.1
app/public/wp-content/uploads
!app/public/wp-content/uploads/.keep
app/public/wp-content/upgrade
!app/public/wp-content/upgrade/.keep
*.sql