@charset "UTF-8";
/*!--------------------------------------------------------------
# typography
--------------------------------------------------------------*/
/*! webフォントの読み込み */
/*! Noto Sans JP
thin: 100, light: 300, regular: 400, mediam: 500, bold: 700, black: 900
------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900&subset=japanese");
/*! Noto Serif JP
extra-light: 200, light: 300, regular: 400, mediam: 500,
semi-bold: 600, bold: 700, black: 900,
------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+JP:200,300,400,500,600,700,900&subset=japanese");
/*! M PLUS 1p
thin: 100, light: 300, regular: 400, mediam: 500, bold: 700,
extra-bold: 800, black: 900
------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=M+PLUS+1p:100,300,400,500,700,800,900&subset=japanese");
/*! Rounded Mplus 1c 読み込み
thin: 100, light: 300, regular: 400, mediam: 500, bold: 700,
extra-bold: 800, black: 900
------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:100,300,400,500,700,800,900&subset=japanese");
/*!--------------------------------------------------------------
# color
--------------------------------------------------------------*/
.color-main{
  color:#342c41;
}

.color-sub{
  color:#90919c;
}

.color-accent{
  color:#953e51;
}

.color-text{
  color:#878e92;
}

.color-subtext{
  color:#a8a7a7;
}

.color-backgroud{
  color:#f5f6f6;
}

.color-border{
  color:#a8a7a7;
}

.color-success{
  color:#4fff66;
}

.color-danger{
  color:#ff4f4f;
}

.color-warning{
  color:#ffd04f;
}

.color-info{
  color:#4fb5ff;
}

.background-main{
  background:#342c41;
}

.background-sub{
  background:#90919c;
}

.background-accent{
  background:#953e51;
}

.background-text{
  background:#878e92;
}

.background-subtext{
  background:#a8a7a7;
}

.background-backgroud{
  background:#f5f6f6;
}

.background-border{
  background:#a8a7a7;
}

.background-success{
  background:#4fff66;
}

.background-danger{
  background:#ff4f4f;
}

.background-warning{
  background:#ffd04f;
}

.background-info{
  background:#4fb5ff;
}

.background-light-accent,.background-light-backgroud,.background-light-border,.background-light-danger,.background-light-info,.background-light-main,.background-light-sub,.background-light-subtext,.background-light-success,.background-light-text,.background-light-warning{
  background:white;
}

.background-dark-accent,.background-dark-main,.background-dark-sub,.background-dark-subtext,.background-dark-text{
  background:black;
}

.background-dark-backgroud{
  background:#272c2c;
}

.background-dark-border,.background-dark-danger,.background-dark-info,.background-dark-success,.background-dark-warning{
  background:black;
}

.border-main{
  border:1px solid #342c41;
}

.border-sub{
  border:1px solid #90919c;
}

.border-accent{
  border:1px solid #953e51;
}

.border-text{
  border:1px solid #878e92;
}

.border-subtext{
  border:1px solid #a8a7a7;
}

.border-backgroud{
  border:1px solid #f5f6f6;
}

.border-border{
  border:1px solid #a8a7a7;
}

.border-success{
  border:1px solid #4fff66;
}

.border-danger{
  border:1px solid #ff4f4f;
}

.border-warning{
  border:1px solid #ffd04f;
}

.border-info{
  border:1px solid #4fb5ff;
}
/*!-------------------------------------------------------------
# reset
--------------------------------------------------------------*/
*,*::after,*::before{
  box-sizing:inherit; 
  background-repeat:no-repeat;
}

@-ms-viewport{
  width:device-width;
}

*::after,*::before{
  vertical-align:inherit; 
  text-decoration:inherit;
}

*{
  margin:0; 
  padding:0;
}

*:focus,[tabindex="-1"]:focus{
  outline:0 !important;
}
html{
  overflow-y:scroll;
  box-sizing:border-box; 

  -webkit-text-size-adjust:100%;
}
body,html{
  font-size:16px;
  font-size:1rem;
  line-height:1.5;
}
body{
  text-align:left;
  font-weight:400;
  font-family:-apple-system,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue,"Segoe UI","Roboto","Noto Sans JP","Hiragino Kaku Gothic ProN",Meiryo,Osaka,"MS PGothic","Helvetica Neue",Arial,sans-serif; 

  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}
article,aside,figcaption,figure,footer,header,hgroup,main,nav,section{
  display:block;
}
hr{
  overflow:visible; 
  box-sizing:content-box;
  height:0;
}
h1,h2,h3,h4,h5,h6,p{
  margin-top:0;
  margin-bottom:16px;
}
dl,ol,ul{
  margin-top:0;
  margin-bottom:0;
}
dl ol,dl ul,ol ol,ol ul,ul ol,ul ul{
  margin-bottom:1rem;
}

dt{
  font-weight:500;
}

dd{
  margin-bottom:.5rem;
  margin-left:0;
}
table{
  border-collapse:collapse;
}

caption{
  padding-top:.5rem;
  padding-bottom:.5rem;
  caption-side:bottom; 
  text-align:left;
}

th{
  text-align:inherit;
}
a{
  background-color:transparent;

  -webkit-text-decoration-skip:objects;
}
a:active,a:hover{
  outline-width:0; 
  text-decoration:none;
}
a:not([href]):not([tabindex]),a:not([href]):not([tabindex]):hover{
  color:inherit;
  text-decoration:none;
}
a:not([href]):not([tabindex]):focus{
  outline:0;
}
[role="button"],a,area,button,input:not([type=range]),label,select,summary,textarea{
  -ms-touch-action:manipulation;
  touch-action:manipulation;
}
input{
  border-radius:5px;
}

.btn,button,input[role="button"],input[type="button"],input[type="reset"],input[type="submit"]{
  display:block;
  overflow:visible;
  cursor:pointer;

  -webkit-appearance:button;

     -moz-appearance:button;

          appearance:button;
}

[disabled]{
  cursor:default;
}

[type="number"]{
  width:auto;
}

[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration{
  -webkit-appearance:none;
}

textarea{
  overflow:auto;
  resize:vertical;
}

button,input,optgroup,select,textarea{
  margin:0;
  font-size:inherit;
  font-family:inherit;
  line-height:inherit;
}

optgroup{
  font-weight:bold;
}

[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner,button::-moz-focus-inner{
  padding:0; 
  border-style:0;
}

[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner,button:-moz-focusring{
  outline:1px dotted ButtonText;
}

[type="reset"],[type="submit"],button,html [type="button"]{
  -webkit-appearance:button;
}

button,select{
  text-transform:none;
}

button,input,select,textarea{
  border-style:none;
  background-color:transparent;
  color:inherit;
}

select{
  -webkit-appearance:none; 
  -moz-appearance:none;
}

select::-ms-expand{
  display:none;
}

select::-ms-value{
  color:currentColor;
}

legend{
  display:table;
  max-width:100%;
  border:0;
  color:inherit;
  white-space:normal;
}

::-webkit-file-upload-button{
  font:inherit; 

  -webkit-appearance:button;
}

[type="search"]{
  outline-offset:-2px; 

  -webkit-appearance:textfield;
}

input[type="radio"]:checked::before{
  position:absolute;
  top:0;
  left:0; 
  display:block;
  width:16px;
  width:1rem;
  height:16px;
  height:1rem;
  border-radius:100%;
}

input[type="radio"]:checked::after{
  position:absolute;
  top:3.2px;
  top:.2rem;
  left:3.2px;
  left:.2rem; 
  display:block;
  width:9.6px;
  width:.6rem;
  height:9.6px;
  height:.6rem;
  border-radius:100%;
}
figure{
  margin:0;
}

img{
  border-style:none;
  vertical-align:bottom;
}

svg:not(:root){
  overflow:hidden;
}

input[type="checkbox"],input[type="radio"]{
  position:relative; 
  display:none;
}
code,kbd,pre,samp{
  font-size:1em; 
  font-family:Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

pre{
  overflow:auto;
  margin:0 0 1rem;

  -ms-overflow-style:scrollbar;
}
[hidden]{
  display:none !important;
}