@charset "UTF-8";
/*!--------------------------------------------------------------
# typography
--------------------------------------------------------------*/
/*! webフォントの読み込み */
<<<<<<< HEAD
/*! Noto Sans JP */
/* thin: 100, light: 300, regular: 400, mediam: 500, bold: 700, black: 900
------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900&subset=japanese");
/*! Noto Serif JP */
/* extra-light: 200, light: 300, regular: 400, mediam: 500,
   semi-bold: 600, bold: 700, black: 900,
------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+JP:200,300,400,500,600,700,900&subset=japanese");
/*! M PLUS 1p */
/* thin: 100, light: 300, regular: 400, mediam: 500, bold: 700,
   extra-bold: 800, black: 900
------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=M+PLUS+1p:100,300,400,500,700,800,900&subset=japanese");
/*! Rounded Mplus 1c 読み込み */
/* thin: 100, light: 300, regular: 400, mediam: 500, bold: 700,
   extra-bold: 800, black: 900
------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:100,300,400,500,700,800,900&subset=japanese");
/*! Roboto mono 読み込み */
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,700,700i");
/*! fontawesome v4.7 読み込み */
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/* フォントの指定 */
.ff-sans-serif {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, Osaka, "MS PGothic", "Helvetica Neue", Arial, sans-serif;
}

.ff-serif {
  font-family: Georgia, "Times New Roman", "Noto Serif JP", Times, serif;
}

.ff-mono {
  font-family: "Roboto Mono", "Courier New", monospace;
}

/* フォントウェイトの設定 */
/*!--------------------------------------------------------------
# color
--------------------------------------------------------------*/
/* color list */
.cl-primary {
  color: #26547c;
}

.cl-primary-lt {
  color: #4389c5;
}

.cl-primary-dk {
  color: #142c41;
}

.cl-secondary {
  color: #d90368;
}

.cl-secondary-lt {
  color: #fc469c;
}

.cl-secondary-dk {
  color: #8e0244;
}

.cl-gray {
  color: #8d8891;
}

.cl-gray-lt {
  color: #cccace;
}

.cl-gray-dk {
  color: #4d4a50;
}

.cl-dark {
  color: black;
}

.cl-light {
  color: #fafafa;
}

.cl-success {
  color: #00cc66;
}

.cl-success-lt {
  color: #33ff99;
}

.cl-success-dk {
  color: #008040;
}

.cl-danger {
  color: #e3170a;
}

.cl-danger-lt {
  color: #f8655b;
}

.cl-danger-dk {
  color: #9a1007;
}

.cl-warning {
  color: #fdb901;
}

.cl-warning-lt {
  color: #fed566;
}

.cl-warning-dk {
  color: #b18101;
}

.cl-info {
  color: #3da5d9;
}

.cl-info-lt {
  color: #92cdea;
}

.cl-info-dk {
  color: #217ba8;
}

.bg-primary {
  background: #26547c;
}

.bg-primary-lt {
  background: #4389c5;
}

.bg-primary-dk {
  background: #142c41;
}

.bg-secondary {
  background: #d90368;
}

.bg-secondary-lt {
  background: #fc469c;
}

.bg-secondary-dk {
  background: #8e0244;
}

.bg-gray {
  background: #8d8891;
}

.bg-gray-lt {
  background: #cccace;
}

.bg-gray-dk {
  background: #4d4a50;
}

.bg-dark {
  background: black;
}

.bg-light {
  background: #fafafa;
}

.bg-success {
  background: #00cc66;
}

.bg-success-lt {
  background: #33ff99;
}

.bg-success-dk {
  background: #008040;
}

.bg-danger {
  background: #e3170a;
}

.bg-danger-lt {
  background: #f8655b;
}

.bg-danger-dk {
  background: #9a1007;
}

.bg-warning {
  background: #fdb901;
}

.bg-warning-lt {
  background: #fed566;
}

.bg-warning-dk {
  background: #b18101;
}

.bg-info {
  background: #3da5d9;
}

.bg-info-lt {
  background: #92cdea;
}

.bg-info-dk {
  background: #217ba8;
}

.bd-primary {
  border: 1px solid #26547c;
}

.bd-primary-lt {
  border: 1px solid #4389c5;
}

.bd-primary-dk {
  border: 1px solid #142c41;
}

.bd-secondary {
  border: 1px solid #d90368;
}

.bd-secondary-lt {
  border: 1px solid #fc469c;
}

.bd-secondary-dk {
  border: 1px solid #8e0244;
}

.bd-gray {
  border: 1px solid #8d8891;
}

.bd-gray-lt {
  border: 1px solid #cccace;
}

.bd-gray-dk {
  border: 1px solid #4d4a50;
}

.bd-dark {
  border: 1px solid black;
}

.bd-light {
  border: 1px solid #fafafa;
}

.bd-success {
  border: 1px solid #00cc66;
}

.bd-success-lt {
  border: 1px solid #33ff99;
}

.bd-success-dk {
  border: 1px solid #008040;
}

.bd-danger {
  border: 1px solid #e3170a;
}

.bd-danger-lt {
  border: 1px solid #f8655b;
}

.bd-danger-dk {
  border: 1px solid #9a1007;
}

.bd-warning {
  border: 1px solid #fdb901;
}

.bd-warning-lt {
  border: 1px solid #fed566;
}

.bd-warning-dk {
  border: 1px solid #b18101;
}

.bd-info {
  border: 1px solid #3da5d9;
}

.bd-info-lt {
  border: 1px solid #92cdea;
}

.bd-info-dk {
  border: 1px solid #217ba8;
}

/*--------------------------------------------------------------
# config
  以下の項目を編集して使用してください。
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# base fontの設定
--------------------------------------------------------------*/
/* ベースの文字サイズの設定 */
/* ベースの行間の設定 */
/* ベースの書体の設定*/
/* ベースの文字ウェイト */
/*--------------------------------------------------------------
# partsの設定
--------------------------------------------------------------*/
/* ボトムマージン */
/* テーブル */
/* フォーム */
/*--------------------------------------------------------------
# layoutの設定
--------------------------------------------------------------*/
/* breakpointの設定 */
/* headerの高さ */
/* footerの高さ */
/* media query */
/* font */
/* color */
/* element */
/* form */
/*!-------------------------------------------------------------
# reset
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# reset
--------------------------------------------------------------*/
/*
# common
--------------------------------------------------------------*/
*,
*::before,
*::after {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

@-ms-viewport {
  width: device-width;
}

*::before,
*::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

html:focus, body:focus, div:focus, span:focus, object:focus, iframe:focus,
h1:focus, h2:focus, h3:focus, h4:focus, h5:focus, h6:focus, p:focus, blockquote:focus, pre:focus,
abbr:focus, address:focus, cite:focus, code:focus,
del:focus, dfn:focus, em:focus, img:focus, ins:focus, kbd:focus, q:focus, samp:focus,
small:focus, strong:focus, sub:focus, sup:focus, var:focus,
b:focus, i:focus,
dl:focus, dt:focus, dd:focus, ol:focus, ul:focus, li:focus,
fieldset:focus, form:focus, label:focus, legend:focus,
table:focus, caption:focus, tbody:focus, tfoot:focus, thead:focus, tr:focus, th:focus, td:focus,
article:focus, aside:focus, canvas:focus, details:focus, figcaption:focus, figure:focus,
footer:focus, header:focus, hgroup:focus, menu:focus, nav:focus, section:focus, summary:focus,
time:focus, mark:focus, audio:focus, video:focus {
  outline: 0 !important;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

/*
# block element
--------------------------------------------------------------*/
/* html */
html {
  box-sizing: border-box;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

/* body */
body {
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, Osaka, "MS PGothic", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1.5;
}

/* 旧バージョンのブラウザ用 */
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

/* hr */
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

/* 見出し */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* 段落 */
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* リスト */
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

ol ol,
ol ul,
ul ol,
ul ul,
dl ol,
dl ul {
  margin-bottom: 1rem;
}

dt {
  font-weight: 500;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

/* テーブル */
table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

/*
# inline element
--------------------------------------------------------------*/
/* リンク */
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  text-decoration: none;
  outline-width: 0;
}

a:active {
  text-decoration: none;
  outline-width: 0;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

/* タッチスクリーンでの挙動 */
a,
area,
button,
[role="button"],
input:not([type=range]),
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

/* フォーム */
/*input {
  border-radius: $input-r;
}*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[role="button"],
.btn {
  display: block;
  cursor: pointer;
  overflow: visible;
}

[disabled] {
  cursor: default;
}

[type="number"] {
  width: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  display: block;
}

optgroup {
  font-weight: bold;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: 0;
  padding: 0;
}

button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button,
select {
  text-transform: none;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

legend {
  border: 0;
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

input[type="radio"]:checked::before {
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

input[type="radio"]:checked::after {
  display: block;
  width: .6rem;
  height: .6rem;
  border-radius: 100%;
  position: absolute;
  top: .2rem;
  left: .2rem;
}

/* 画像 */
figure {
  margin: 0;
}

img {
  border-style: none;
  vertical-align: bottom;
}

svg:not(:root) {
  overflow: hidden;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
  position: relative;
}

/* コード */
pre,
code,
kbd,
samp {
  font-family: "Roboto Mono", "Courier New", monospace;
  font-size: 1em;
}

pre {
  margin: 0 0 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

/* 非表示データ */
[hidden] {
  display: none !important;
}

/*!-------------------------------------------------------------
# element
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# elements
--------------------------------------------------------------*/
/* form elemnts*/
.frm-text,
.frm-password {
  border: 1px solid #cccace;
  border-radius: 0.25em;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  height: 2.5rem;
  padding: 0.5rem;
  background: #fafafa;
}

.frm-textarea {
  border: 1px solid #cccace;
  border-radius: 0.25em;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  height: 8.5rem;
  padding: 0.5rem;
  background: #fafafa;
}

.frm-radio {
  margin: 0 1rem 0 0;
  display: flex;
}

.frm-radio input[type="radio"] {
  display: none;
}

.frm-radio i {
  display: block;
  margin: 0 .25em 0 0;
  position: relative;
  width: 1rem;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

.frm-radio i::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 100%;
  background: #fafafa;
  border: 1px solid #cccace;
  transform: translate(-50%, -50%);
  display: block;
}

.frm-radio i::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 100%;
  background: black;
  transform: translate(-50%, -50%);
  opacity: 0;
  display: block;
  transition: .2s;
}

.frm-radio label {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  display: block;
}

.frm-radio input[type="radio"]:checked + i:after {
  opacity: 1;
}

.frm-checkbox {
  margin: 0 1rem 0 0;
  display: flex;
}

.frm-checkbox input[type="radio"] {
  display: none;
}

.frm-checkbox i {
  display: block;
  margin: 0 .25em 0 0;
  position: relative;
  width: 1rem;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

.frm-checkbox i::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.8rem;
  height: 0.8rem;
  background: #fafafa;
  border: 1px solid #cccace;
  transform: translate(-50%, -50%);
  display: block;
}

.frm-checkbox i::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.5rem;
  height: 0.3rem;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  transform: translate(-50%, -50%) rotate(-45deg);
  opacity: 0;
  display: block;
  transition: .2s;
}

.frm-checkbox label {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  display: block;
}

.frm-checkbox input[type="checkbox"]:checked + i:after {
  opacity: 1;
}

.frm-select {
  border: 1px solid #cccace;
  border-radius: 0.25em;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  height: 2.5rem;
  padding: 0;
  background: #fafafa;
  position: relative;
  display: inline-block;
}

.frm-select::after {
  position: absolute;
  width: 0.5rem;
  height: 0.85rem;
  border-top: 0.425rem solid black;
  border-bottom: 0.425rem solid transparent;
  border-right: 0.25rem solid transparent;
  border-left: 0.25rem solid transparent;
  content: "";
  top: 50%;
  right: 0.5rem;
  z-index: 0;
  transform: translate(0, -25%);
  pointer-events: none;
}

.frm-select select {
  appearance: none;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;
  z-index: 1;
  background: transparent;
}

.frm-select select::-ms-expand {
  display: none;
}

.frm-file .btn {
  position: relative;
}

.frm-file .btn input[type="file"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.frm-file .slct-fn {
  margin: 0 0 0 1rem;
}

.frm-file .slct-fn input[type="text"] {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

.btn {
  border-radius: 0.25em;
  padding: 0;
  font-size: 16px;
  font-size: 1rem;
  line-height: 2.5;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  text-align: center;
}

.btn-il {
  display: inline-block;
}

.btn-success {
  background: #00cc66;
  border-color: #00cc66;
  color: #fff;
}

.btn-success:hover {
  background: rgba(0, 204, 102, 0.8);
}

.btn-danger {
  background: #e3170a;
  border-color: #e3170a;
  color: #fff;
}

.btn-danger:hover {
  background: rgba(227, 23, 10, 0.8);
}

.btn-warning {
  background: #fdb901;
  border-color: #fdb901;
  color: #000;
}

.btn-warning:hover {
  background: rgba(253, 185, 1, 0.8);
}

.btn-info {
  background: #3da5d9;
  border-color: #3da5d9;
  color: #fff;
}

.btn-info:hover {
  background: rgba(61, 165, 217, 0.8);
}

.btn-ol-success {
  border-color: #00cc66;
  color: #00cc66;
}

.btn-ol-success:hover {
  color: #fff;
  background: #00cc66;
}

.btn-ol-danger {
  border-color: #e3170a;
  color: #e3170a;
}

.btn-ol-danger:hover {
  color: #fff;
  background: #e3170a;
}

.btn-ol-warning {
  border-color: #fdb901;
  color: #fdb901;
}

.btn-ol-warning:hover {
  color: #000;
  background: #fdb901;
}

.btn-ol-info {
  border-color: #3da5d9;
  color: #3da5d9;
}

.btn-ol-info:hover {
  color: #fff;
  background: #3da5d9;
}

.btn .fa {
  margin: 0 0.5em 0 0;
}

/*!-------------------------------------------------------------
# layout 
--------------------------------------------------------------*/
.col-1 {
  width: 4.16667%;
}

.col-2 {
  width: 8.33333%;
}

.col-3 {
  width: 12.5%;
}

.col-4 {
  width: 16.66667%;
}

.col-5 {
  width: 20.83333%;
}

.col-6 {
  width: 25%;
}

.col-7 {
  width: 29.16667%;
}

.col-8 {
  width: 33.33333%;
}

.col-9 {
  width: 37.5%;
}

.col-10 {
  width: 41.66667%;
}

.col-11 {
  width: 45.83333%;
}

.col-12 {
  width: 50%;
}

.col-13 {
  width: 54.16667%;
}

.col-14 {
  width: 58.33333%;
}

.col-15 {
  width: 62.5%;
}

.col-16 {
  width: 66.66667%;
}

.col-17 {
  width: 70.83333%;
}

.col-18 {
  width: 75%;
}

.col-19 {
  width: 79.16667%;
}

.col-20 {
  width: 83.33333%;
}

.col-21 {
  width: 87.5%;
}

.col-22 {
  width: 91.66667%;
}

.col-23 {
  width: 95.83333%;
}

.col-24 {
  width: 100%;
}

@media screen and (max-width: 479px) {
  .col-spp-1 {
    width: 4.16667%;
  }
  .col-spp-2 {
    width: 8.33333%;
  }
  .col-spp-3 {
    width: 12.5%;
  }
  .col-spp-4 {
    width: 16.66667%;
  }
  .col-spp-5 {
    width: 20.83333%;
  }
  .col-spp-6 {
    width: 25%;
  }
  .col-spp-7 {
    width: 29.16667%;
  }
  .col-spp-8 {
    width: 33.33333%;
  }
  .col-spp-9 {
    width: 37.5%;
  }
  .col-spp-10 {
    width: 41.66667%;
  }
  .col-spp-11 {
    width: 45.83333%;
  }
  .col-spp-12 {
    width: 50%;
  }
  .col-spp-13 {
    width: 54.16667%;
  }
  .col-spp-14 {
    width: 58.33333%;
  }
  .col-spp-15 {
    width: 62.5%;
  }
  .col-spp-16 {
    width: 66.66667%;
  }
  .col-spp-17 {
    width: 70.83333%;
  }
  .col-spp-18 {
    width: 75%;
  }
  .col-spp-19 {
    width: 79.16667%;
  }
  .col-spp-20 {
    width: 83.33333%;
  }
  .col-spp-21 {
    width: 87.5%;
  }
  .col-spp-22 {
    width: 91.66667%;
  }
  .col-spp-23 {
    width: 95.83333%;
  }
  .col-spp-24 {
    width: 100%;
  }
}

@media screen and (min-width: 480px) and (max-width: 599px) {
  .col-spl-1 {
    width: 4.16667%;
  }
  .col-spl-2 {
    width: 8.33333%;
  }
  .col-spl-3 {
    width: 12.5%;
  }
  .col-spl-4 {
    width: 16.66667%;
  }
  .col-spl-5 {
    width: 20.83333%;
  }
  .col-spl-6 {
    width: 25%;
  }
  .col-spl-7 {
    width: 29.16667%;
  }
  .col-spl-8 {
    width: 33.33333%;
  }
  .col-spl-9 {
    width: 37.5%;
  }
  .col-spl-10 {
    width: 41.66667%;
  }
  .col-spl-11 {
    width: 45.83333%;
  }
  .col-spl-12 {
    width: 50%;
  }
  .col-spl-13 {
    width: 54.16667%;
  }
  .col-spl-14 {
    width: 58.33333%;
  }
  .col-spl-15 {
    width: 62.5%;
  }
  .col-spl-16 {
    width: 66.66667%;
  }
  .col-spl-17 {
    width: 70.83333%;
  }
  .col-spl-18 {
    width: 75%;
  }
  .col-spl-19 {
    width: 79.16667%;
  }
  .col-spl-20 {
    width: 83.33333%;
  }
  .col-spl-21 {
    width: 87.5%;
  }
  .col-spl-22 {
    width: 91.66667%;
  }
  .col-spl-23 {
    width: 95.83333%;
  }
  .col-spl-24 {
    width: 100%;
  }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
  .col-tab-1 {
    width: 4.16667%;
  }
  .col-tab-2 {
    width: 8.33333%;
  }
  .col-tab-3 {
    width: 12.5%;
  }
  .col-tab-4 {
    width: 16.66667%;
  }
  .col-tab-5 {
    width: 20.83333%;
  }
  .col-tab-6 {
    width: 25%;
  }
  .col-tab-7 {
    width: 29.16667%;
  }
  .col-tab-8 {
    width: 33.33333%;
  }
  .col-tab-9 {
    width: 37.5%;
  }
  .col-tab-10 {
    width: 41.66667%;
  }
  .col-tab-11 {
    width: 45.83333%;
  }
  .col-tab-12 {
    width: 50%;
  }
  .col-tab-13 {
    width: 54.16667%;
  }
  .col-tab-14 {
    width: 58.33333%;
  }
  .col-tab-15 {
    width: 62.5%;
  }
  .col-tab-16 {
    width: 66.66667%;
  }
  .col-tab-17 {
    width: 70.83333%;
  }
  .col-tab-18 {
    width: 75%;
  }
  .col-tab-19 {
    width: 79.16667%;
  }
  .col-tab-20 {
    width: 83.33333%;
  }
  .col-tab-21 {
    width: 87.5%;
  }
  .col-tab-22 {
    width: 91.66667%;
  }
  .col-tab-23 {
    width: 95.83333%;
  }
  .col-tab-24 {
    width: 100%;
  }
}

@media screen and (min-width: 960px) and (max-width: 1279px) {
  .col-pc-1 {
    width: 4.16667%;
  }
  .col-pc-2 {
    width: 8.33333%;
  }
  .col-pc-3 {
    width: 12.5%;
  }
  .col-pc-4 {
    width: 16.66667%;
  }
  .col-pc-5 {
    width: 20.83333%;
  }
  .col-pc-6 {
    width: 25%;
  }
  .col-pc-7 {
    width: 29.16667%;
  }
  .col-pc-8 {
    width: 33.33333%;
  }
  .col-pc-9 {
    width: 37.5%;
  }
  .col-pc-10 {
    width: 41.66667%;
  }
  .col-pc-11 {
    width: 45.83333%;
  }
  .col-pc-12 {
    width: 50%;
  }
  .col-pc-13 {
    width: 54.16667%;
  }
  .col-pc-14 {
    width: 58.33333%;
  }
  .col-pc-15 {
    width: 62.5%;
  }
  .col-pc-16 {
    width: 66.66667%;
  }
  .col-pc-17 {
    width: 70.83333%;
  }
  .col-pc-18 {
    width: 75%;
  }
  .col-pc-19 {
    width: 79.16667%;
  }
  .col-pc-20 {
    width: 83.33333%;
  }
  .col-pc-21 {
    width: 87.5%;
  }
  .col-pc-22 {
    width: 91.66667%;
  }
  .col-pc-23 {
    width: 95.83333%;
  }
  .col-pc-24 {
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .col-pcl-1 {
    width: 4.16667%;
  }
  .col-pcl-2 {
    width: 8.33333%;
  }
  .col-pcl-3 {
    width: 12.5%;
  }
  .col-pcl-4 {
    width: 16.66667%;
  }
  .col-pcl-5 {
    width: 20.83333%;
  }
  .col-pcl-6 {
    width: 25%;
  }
  .col-pcl-7 {
    width: 29.16667%;
  }
  .col-pcl-8 {
    width: 33.33333%;
  }
  .col-pcl-9 {
    width: 37.5%;
  }
  .col-pcl-10 {
    width: 41.66667%;
  }
  .col-pcl-11 {
    width: 45.83333%;
  }
  .col-pcl-12 {
    width: 50%;
  }
  .col-pcl-13 {
    width: 54.16667%;
  }
  .col-pcl-14 {
    width: 58.33333%;
  }
  .col-pcl-15 {
    width: 62.5%;
  }
  .col-pcl-16 {
    width: 66.66667%;
  }
  .col-pcl-17 {
    width: 70.83333%;
  }
  .col-pcl-18 {
    width: 75%;
  }
  .col-pcl-19 {
    width: 79.16667%;
  }
  .col-pcl-20 {
    width: 83.33333%;
  }
  .col-pcl-21 {
    width: 87.5%;
  }
  .col-pcl-22 {
    width: 91.66667%;
  }
  .col-pcl-23 {
    width: 95.83333%;
  }
  .col-pcl-24 {
    width: 100%;
  }
}

/*--------------------------------------------------------------
# layout
--------------------------------------------------------------*/
html,
body {
  height: 100%;
}

/*
@media (max-width: $max-xs) {
  body {
    position: relative;
    min-height: ;
  }

  header {
    position: absolute;
    top: 0;
    left: 0;
    height: $xs-header-height;
  }

  main {
    margin: 0;
    padding: $xs-header-height 0 $xs-footer-height;
    height: 100vh;
  }

  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: $xs-footer-height;
  }
}

@media (min-width: $min-sm) and (max-width: $max-sm) {
  body {
    position: relative;
    min-height: 100vh;
  }

  header {
    position: absolute;
    top: 0;
    left: 0;
    height: $sm-header-height;
  }

  main {
    margin: 0;
    padding: $sm-header-height 0 $sm-footer-height;
    height: 100vh;
  }

  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: $sm-footer-height;
  }
}

@media (min-width: $min-md) and (max-width: $max-md) {
  body {
    position: relative;
    min-height: 100vh;
  }

  header {
    position: absolute;
    top: 0;
    left: 0;
    height: $md-header-height;
  }

  main {
    margin: 0;
    padding: $md-header-height 0 $md-footer-height;
    height: 100vh;
  }

  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: $md-footer-height;
  }
}

@media (min-width: $min-lg) and (max-width: $max-lg) {
  body {
    position: relative;
    min-height: 100vh;
  }

  header {
    position: absolute;
    top: 0;
    left: 0;
    height: $lg-header-height;
  }

  main {
    margin: 0;
    padding: $lg-header-height 0 $lg-footer-height;
    height: 100vh;
  }

  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: $lg-footer-height;
  }
}

@media (min-width: $min-xl) {
  body {
    position: relative;
    min-height: 100vh;
  }

  header {
    position: absolute;
    top: 0;
    left: 0;
    height: $xl-header-height;
  }

  main {
    margin: 0;
    padding: $xl-header-height 0 $xl-footer-height;
    height: 100vh;
  }

  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: $xl-footer-height;
  }
}
*/
/*!-------------------------------------------------------------
# color
--------------------------------------------------------------*/
.red-ajh-0 {
  background: red;
}

.red-ajh-5 {
  background: #ff1500;
}

.red-ajh-10 {
  background: #ff2b00;
}

.red-ajh-15 {
  background: #ff4000;
}

.red-ajh-20 {
  background: #ff5500;
}

.red-ajh-25 {
  background: #ff6a00;
}

.red-ajh-30 {
  background: #ff8000;
}

.red-ajh-35 {
  background: #ff9500;
}

.red-ajh-40 {
  background: #ffaa00;
}

.red-ajh-45 {
  background: #ffbf00;
}

.red-ajh-50 {
  background: #ffd500;
}

.red-ajh-55 {
  background: #ffea00;
}

.red-ajh-60 {
  background: yellow;
}

.red-ajh-65 {
  background: #eaff00;
}

.red-ajh-70 {
  background: #d5ff00;
}

.red-ajh-75 {
  background: #bfff00;
}

.red-ajh-80 {
  background: #aaff00;
}

.red-ajh-85 {
  background: #95ff00;
}

.red-ajh-90 {
  background: #80ff00;
}

.red-ajh-95 {
  background: #6aff00;
}

.red-ajh-100 {
  background: #55ff00;
}

.red-ajh-105 {
  background: #40ff00;
}

.red-ajh-110 {
  background: #2bff00;
}

.red-ajh-115 {
  background: #15ff00;
}

.red-ajh-120 {
  background: lime;
}

.red-ajh-125 {
  background: #00ff15;
}

.red-ajh-130 {
  background: #00ff2b;
}

.red-ajh-135 {
  background: #00ff40;
}

.red-ajh-140 {
  background: #00ff55;
}

.red-ajh-145 {
  background: #00ff6a;
}

.red-ajh-150 {
  background: #00ff80;
}

.red-ajh-155 {
  background: #00ff95;
}

.red-ajh-160 {
  background: #00ffaa;
}

.red-ajh-165 {
  background: #00ffbf;
}

.red-ajh-170 {
  background: #00ffd5;
}

.red-ajh-175 {
  background: #00ffea;
}

.red-ajh-180 {
  background: cyan;
}

.red-ajh-185 {
  background: #00eaff;
}

.red-ajh-190 {
  background: #00d5ff;
}

.red-ajh-195 {
  background: deepskyblue;
}

.red-ajh-200 {
  background: #00aaff;
}

.red-ajh-205 {
  background: #0095ff;
}

.red-ajh-210 {
  background: #0080ff;
}

.red-ajh-215 {
  background: #006aff;
}

.red-ajh-220 {
  background: #0055ff;
}

.red-ajh-225 {
  background: #0040ff;
}

.red-ajh-230 {
  background: #002bff;
}

.red-ajh-235 {
  background: #0015ff;
}

.red-ajh-240 {
  background: blue;
}

.red-ajh-245 {
  background: #1500ff;
}

.red-ajh-250 {
  background: #2b00ff;
}

.red-ajh-255 {
  background: #4000ff;
}

.red-ajh-260 {
  background: #5500ff;
}

.red-ajh-265 {
  background: #6a00ff;
}

.red-ajh-270 {
  background: #8000ff;
}

.red-ajh-275 {
  background: #9500ff;
}

.red-ajh-280 {
  background: #aa00ff;
}

.red-ajh-285 {
  background: #bf00ff;
}

.red-ajh-290 {
  background: #d500ff;
}

.red-ajh-295 {
  background: #ea00ff;
}

.red-ajh-300 {
  background: magenta;
}

.red-ajh-305 {
  background: #ff00ea;
}

.red-ajh-310 {
  background: #ff00d5;
}

.red-ajh-315 {
  background: #ff00bf;
}

.red-ajh-320 {
  background: #ff00aa;
}

.red-ajh-325 {
  background: #ff0095;
}

.red-ajh-330 {
  background: #ff0080;
}

.red-ajh-335 {
  background: #ff006a;
}

.red-ajh-340 {
  background: #ff0055;
}

.red-ajh-345 {
  background: #ff0040;
}

.red-ajh-350 {
  background: #ff002b;
}

.red-ajh-355 {
  background: #ff0015;
}
=======
/*! Noto Sans JP
thin: 100, light: 300, regular: 400, mediam: 500, bold: 700, black: 900
------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900&subset=japanese");
/*! Noto Serif JP
extra-light: 200, light: 300, regular: 400, mediam: 500,
semi-bold: 600, bold: 700, black: 900,
------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+JP:200,300,400,500,600,700,900&subset=japanese");
/*! M PLUS 1p
thin: 100, light: 300, regular: 400, mediam: 500, bold: 700,
extra-bold: 800, black: 900
------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=M+PLUS+1p:100,300,400,500,700,800,900&subset=japanese");
/*! Rounded Mplus 1c 読み込み
thin: 100, light: 300, regular: 400, mediam: 500, bold: 700,
extra-bold: 800, black: 900
------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:100,300,400,500,700,800,900&subset=japanese");
.ff-sans-serif{
  font-family:-apple-system,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue,"Segoe UI","Roboto","Noto Sans JP","Hiragino Kaku Gothic ProN",Meiryo,Osaka,"MS PGothic","Helvetica Neue",Arial,sans-serif;
}

.ff-serif{
  font-family:Georgia,"Times New Roman","Noto Serif JP",Times,serif;
}

.ff-mono{
  font-family:Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
/*!--------------------------------------------------------------
# color
--------------------------------------------------------------*/
.cl-primary{
  color:#26547c;
}

.cl-primary-lt{
  color:#4389c5;
}

.cl-primary-dk{
  color:#142c41;
}

.cl-secondary{
  color:#d90368;
}

.cl-secondary-lt{
  color:#fc469c;
}

.cl-secondary-dk{
  color:#8e0244;
}

.cl-gray{
  color:#8d8891;
}

.cl-gray-lt{
  color:#cccace;
}

.cl-gray-dk{
  color:#4d4a50;
}

.cl-black{
  color:black;
}

.cl-white{
  color:#fafafa;
}

.cl-success{
  color:#0c6;
}

.cl-success-lt{
  color:#66ffb3;
}

.cl-danger{
  color:#e3170a;
}

.cl-danger-lt{
  color:#fa938c;
}

.cl-warning{
  color:#f9c80e;
}

.cl-warning-lt{
  color:#fdeaa3;
}

.cl-info{
  color:#3da5d9;
}

.cl-info-lt{
  color:#bde0f2;
}

.bg-primary{
  background:#26547c;
}

.bg-primary-lt{
  background:#4389c5;
}

.bg-primary-dk{
  background:#142c41;
}

.bg-secondary{
  background:#d90368;
}

.bg-secondary-lt{
  background:#fc469c;
}

.bg-secondary-dk{
  background:#8e0244;
}

.bg-gray{
  background:#8d8891;
}

.bg-gray-lt{
  background:#cccace;
}

.bg-gray-dk{
  background:#4d4a50;
}

.bg-black{
  background:black;
}

.bg-white{
  background:#fafafa;
}

.bg-success{
  background:#0c6;
}

.bg-success-lt{
  background:#66ffb3;
}

.bg-danger{
  background:#e3170a;
}

.bg-danger-lt{
  background:#fa938c;
}

.bg-warning{
  background:#f9c80e;
}

.bg-warning-lt{
  background:#fdeaa3;
}

.bg-info{
  background:#3da5d9;
}

.bg-info-lt{
  background:#bde0f2;
}

.bd-primary{
  border:#26547c;
}

.bd-primary-lt{
  border:#4389c5;
}

.bd-primary-dk{
  border:#142c41;
}

.bd-secondary{
  border:#d90368;
}

.bd-secondary-lt{
  border:#fc469c;
}

.bd-secondary-dk{
  border:#8e0244;
}

.bd-gray{
  border:#8d8891;
}

.bd-gray-lt{
  border:#cccace;
}

.bd-gray-dk{
  border:#4d4a50;
}

.bd-black{
  border:black;
}

.bd-white{
  border:#fafafa;
}

.bd-success{
  border:#0c6;
}

.bd-success-lt{
  border:#66ffb3;
}

.bd-danger{
  border:#e3170a;
}

.bd-danger-lt{
  border:#fa938c;
}

.bd-warning{
  border:#f9c80e;
}

.bd-warning-lt{
  border:#fdeaa3;
}

.bd-info{
  border:#3da5d9;
}

.bd-info-lt{
  border:#bde0f2;
}
/*!-------------------------------------------------------------
# reset
--------------------------------------------------------------*/
*,*::after,*::before{
  box-sizing:inherit;
  background-repeat:no-repeat;
}

@-ms-viewport{
  width:device-width;
}

*::after,*::before{
  vertical-align:inherit;
  text-decoration:inherit;
}

*{
  margin:0;
  padding:0;
}

*:focus,[tabindex="-1"]:focus{
  outline:0 !important;
}
html{
  overflow-y:scroll;
  box-sizing:border-box;

  -webkit-text-size-adjust:100%;
}
body,html{
  font-size:16px;
  font-size:1rem;
  line-height:1.5;
}
body{
  text-align:left;
  font-weight:400;
  font-family:-apple-system,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue,"Segoe UI","Roboto","Noto Sans JP","Hiragino Kaku Gothic ProN",Meiryo,Osaka,"MS PGothic","Helvetica Neue",Arial,sans-serif;

  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}
article,aside,figcaption,figure,footer,header,hgroup,main,nav,section{
  display:block;
}
hr{
  overflow:visible;
  box-sizing:content-box;
  height:0;
}
h1,h2,h3,h4,h5,h6,p{
  margin-top:0;
  margin-bottom:16px;
}
dl,ol,ul{
  margin-top:0;
  margin-bottom:0;
}

dl ol,dl ul,ol ol,ol ul,ul ol,ul ul{
  margin-bottom:1rem;
}

dt{
  font-weight:500;
}

dd{
  margin-bottom:.5rem;
  margin-left:0;
}
table{
  border-collapse:collapse;
}

caption{
  padding-top:.5rem;
  padding-bottom:.5rem;
  caption-side:bottom;
  text-align:left;
}

th{
  text-align:inherit;
}
a{
  background-color:transparent;

  -webkit-text-decoration-skip:objects;
}

a:active,a:hover{
  outline-width:0;
  text-decoration:none;
}

a:not([href]):not([tabindex]),a:not([href]):not([tabindex]):hover{
  color:inherit;
  text-decoration:none;
}

a:not([href]):not([tabindex]):focus{
  outline:0;
}
[role="button"],a,area,button,input:not([type=range]),label,select,summary,textarea{
  -ms-touch-action:manipulation;
  touch-action:manipulation;
}
input{
  border-radius:5px;
}

.btn,button,input[role="button"],input[type="button"],input[type="reset"],input[type="submit"]{
  display:block;
  overflow:visible;
  cursor:pointer;

  -webkit-appearance:button;

     -moz-appearance:button;

          appearance:button;
}

[disabled]{
  cursor:default;
}

[type="number"]{
  width:auto;
}

[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration{
  -webkit-appearance:none;
}

textarea{
  overflow:auto;
  resize:vertical;
}

button,input,optgroup,select,textarea{
  margin:0;
  font-size:inherit;
  font-family:inherit;
  line-height:inherit;
}

optgroup{
  font-weight:bold;
}

[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner,button::-moz-focus-inner{
  padding:0;
  border-style:0;
}

[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner,button:-moz-focusring{
  outline:1px dotted ButtonText;
}

[type="reset"],[type="submit"],button,html [type="button"]{
  -webkit-appearance:button;
}

button,select{
  text-transform:none;
}

button,input,select,textarea{
  border-style:none;
  background-color:transparent;
  color:inherit;
}

select{
  -webkit-appearance:none;
  -moz-appearance:none;
}

select::-ms-expand{
  display:none;
}

select::-ms-value{
  color:currentColor;
}

legend{
  display:table;
  max-width:100%;
  border:0;
  color:inherit;
  white-space:normal;
}

::-webkit-file-upload-button{
  font:inherit;

  -webkit-appearance:button;
}

[type="search"]{
  outline-offset:-2px;

  -webkit-appearance:textfield;
}

input[type="radio"]:checked::before{
  position:absolute;
  top:0;
  left:0;
  display:block;
  width:16px;
  width:1rem;
  height:16px;
  height:1rem;
  border-radius:100%;
}

input[type="radio"]:checked::after{
  position:absolute;
  top:3.2px;
  top:.2rem;
  left:3.2px;
  left:.2rem;
  display:block;
  width:9.6px;
  width:.6rem;
  height:9.6px;
  height:.6rem;
  border-radius:100%;
}
figure{
  margin:0;
}

img{
  border-style:none;
  vertical-align:bottom;
}

svg:not(:root){
  overflow:hidden;
}

input[type="checkbox"],input[type="radio"]{
  position:relative;
  display:none;
}
code,kbd,pre,samp{
  font-size:1em;
  font-family:Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

pre{
  overflow:auto;
  margin:0 0 1rem;

  -ms-overflow-style:scrollbar;
}
[hidden]{
  display:none !important;
}
>>>>>>> c2adfdb5f5f15cfc7bbe8e1849f16e6337f2d09d
