@charset "UTF-8";
/*!--------------------------------------------------------------
# typography
--------------------------------------------------------------*/
/*! webフォントの読み込み */
/*! Noto Sans JP
thin: 100, light: 300, regular: 400, mediam: 500, bold: 700, black: 900
------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900&subset=japanese");
/*! Noto Serif JP
extra-light: 200, light: 300, regular: 400, mediam: 500,
semi-bold: 600, bold: 700, black: 900,
------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+JP:200,300,400,500,600,700,900&subset=japanese");
/*! M PLUS 1p
thin: 100, light: 300, regular: 400, mediam: 500, bold: 700,
extra-bold: 800, black: 900
------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=M+PLUS+1p:100,300,400,500,700,800,900&subset=japanese");
/*! Rounded Mplus 1c 読み込み
thin: 100, light: 300, regular: 400, mediam: 500, bold: 700,
extra-bold: 800, black: 900
------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:100,300,400,500,700,800,900&subset=japanese");
/* フォントの指定 */
.ff-sans-serif {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, Osaka, "MS PGothic", "Helvetica Neue", Arial, sans-serif;
}

.ff-serif {
  font-family: Georgia, "Times New Roman", "Noto Serif JP", Times, serif;
}

.ff-mono {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* フォントウェイトの設定 */
/*--------------------------------------------------------------
# config
  以下の項目を編集して使用してください。
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# base fontの設定
--------------------------------------------------------------*/
/* ベースの文字サイズの設定 */
/* ベースの行間の設定 */
/* ベースの書体の設定*/
/* ベースの文字ウェイト */
/*--------------------------------------------------------------
# site colorの設定
--------------------------------------------------------------*/
/* サイトカラーの設定 */
/* リンクカラーの設定 */
/* ボタンカラーの設定 */
/*--------------------------------------------------------------
# partsの設定
--------------------------------------------------------------*/
/* ボトムマージン */
/* ボタンの設定 */
/* アイコンの設定 */
/*--------------------------------------------------------------
# layoutの設定
--------------------------------------------------------------*/
/* breakpointの設定 */
/* headerの高さ */
/* footerの高さ */
/*!--------------------------------------------------------------
# color
--------------------------------------------------------------*/
/* color list */
.cl-primary {
  color: #26547c;
}

.cl-primary-lt {
  color: #4389c5;
}

.cl-primary-dk {
  color: #142c41;
}

.cl-secondary {
  color: #d90368;
}

.cl-secondary-lt {
  color: #fc469c;
}

.cl-secondary-dk {
  color: #8e0244;
}

.cl-gray {
  color: #8d8891;
}

.cl-gray-lt {
  color: #cccace;
}

.cl-gray-dk {
  color: #4d4a50;
}

.cl-black {
  color: black;
}

.cl-white {
  color: #fafafa;
}

.cl-success {
  color: #00cc66;
}

.cl-success-lt {
  color: #66ffb3;
}

.cl-danger {
  color: #e3170a;
}

.cl-danger-lt {
  color: #fa938c;
}

.cl-warning {
  color: #f9c80e;
}

.cl-warning-lt {
  color: #fdeaa3;
}

.cl-info {
  color: #3da5d9;
}

.cl-info-lt {
  color: #bde0f2;
}

.bg-primary {
  background: #26547c;
}

.bg-primary-lt {
  background: #4389c5;
}

.bg-primary-dk {
  background: #142c41;
}

.bg-secondary {
  background: #d90368;
}

.bg-secondary-lt {
  background: #fc469c;
}

.bg-secondary-dk {
  background: #8e0244;
}

.bg-gray {
  background: #8d8891;
}

.bg-gray-lt {
  background: #cccace;
}

.bg-gray-dk {
  background: #4d4a50;
}

.bg-black {
  background: black;
}

.bg-white {
  background: #fafafa;
}

.bg-success {
  background: #00cc66;
}

.bg-success-lt {
  background: #66ffb3;
}

.bg-danger {
  background: #e3170a;
}

.bg-danger-lt {
  background: #fa938c;
}

.bg-warning {
  background: #f9c80e;
}

.bg-warning-lt {
  background: #fdeaa3;
}

.bg-info {
  background: #3da5d9;
}

.bg-info-lt {
  background: #bde0f2;
}

.bd-primary {
  border: #26547c;
}

.bd-primary-lt {
  border: #4389c5;
}

.bd-primary-dk {
  border: #142c41;
}

.bd-secondary {
  border: #d90368;
}

.bd-secondary-lt {
  border: #fc469c;
}

.bd-secondary-dk {
  border: #8e0244;
}

.bd-gray {
  border: #8d8891;
}

.bd-gray-lt {
  border: #cccace;
}

.bd-gray-dk {
  border: #4d4a50;
}

.bd-black {
  border: black;
}

.bd-white {
  border: #fafafa;
}

.bd-success {
  border: #00cc66;
}

.bd-success-lt {
  border: #66ffb3;
}

.bd-danger {
  border: #e3170a;
}

.bd-danger-lt {
  border: #fa938c;
}

.bd-warning {
  border: #f9c80e;
}

.bd-warning-lt {
  border: #fdeaa3;
}

.bd-info {
  border: #3da5d9;
}

.bd-info-lt {
  border: #bde0f2;
}

/*--------------------------------------------------------------
# mixin
## font
 * font-size
 * font-weight
## color
## element
 * box
 * circle
--------------------------------------------------------------*/
/* font */
/* color */
/* element */
/* form */
/*!-------------------------------------------------------------
# reset
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# reset
--------------------------------------------------------------*/
/*
# common
--------------------------------------------------------------*/
*,
*::before,
*::after {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

@-ms-viewport {
  width: device-width;
}

*::before,
*::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

* {
  padding: 0;
  margin: 0;
}

*:focus,
[tabindex="-1"]:focus {
  outline: 0 !important;
}

/*
# block element
--------------------------------------------------------------*/
/* html */
html {
  box-sizing: border-box;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

/* body */
body {
  text-align: left;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, Osaka, "MS PGothic", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1.5;
}

/* 旧バージョンのブラウザ用 */
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

/* hr */
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

/* 見出し */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 16px;
}

/* 段落 */
p {
  margin-top: 0;
  margin-bottom: 16px;
}

/* リスト */
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 0;
}

ol ol,
ol ul,
ul ol,
ul ul,
dl ol,
dl ul {
  margin-bottom: 1rem;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

/* テーブル */
table {
  border-collapse: collapse;
}

caption {
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

/*
# inline element
--------------------------------------------------------------*/
/* リンク */
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  text-decoration: none;
  outline-width: 0;
}

a:active {
  text-decoration: none;
  outline-width: 0;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

/* タッチスクリーンでの挙動 */
a,
area,
button,
[role="button"],
input:not([type=range]),
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

/* フォーム */
input {
  border-radius: 5px;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[role="button"],
.btn {
  display: block;
  cursor: pointer;
  overflow: visible;
  appearance: button;
}

[disabled] {
  cursor: default;
}

[type="number"] {
  width: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

optgroup {
  font-weight: bold;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: 0;
  padding: 0;
}

button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button,
select {
  text-transform: none;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

legend {
  border: 0;
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

input[type="radio"]:checked::before {
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

input[type="radio"]:checked::after {
  display: block;
  width: .6rem;
  height: .6rem;
  border-radius: 100%;
  position: absolute;
  top: .2rem;
  left: .2rem;
}

/* 画像 */
figure {
  margin: 0;
}

img {
  border-style: none;
  vertical-align: bottom;
}

svg:not(:root) {
  overflow: hidden;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
  position: relative;
}

/* コード */
pre,
code,
kbd,
samp {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

pre {
  margin: 0 0 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

/* 非表示データ */
[hidden] {
  display: none !important;
}

/*!-------------------------------------------------------------
# element
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# elements
--------------------------------------------------------------*/
/* form elemnts*/
.form-text {
  border: 1px solid #a8a7a7;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0 5px;
}

.form-radio input[type="radio"] {
  display: none;
}

.form-radio span {
  display: inline-block;
  padding: 0 0 0 1rem;
  position: relative;
  height: 1rem;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

.form-radio span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background: #a8a7a7;
}

.form-radio span::after {
  content: "";
  position: absolute;
  top: .2rem;
  left: .2rem;
  width: .6rem;
  height: .6rem;
  border-radius: 100%;
  background: #953e51;
}

.form-radio input[type="radio"]:checked + span:after {
  opacity: 1;
  transition: .1s;
}

.form-checkbox input[type="checkbox"] {
  display: none;
}

.form-checkbox span {
  display: block;
  padding: 0 0 0 24px;
  position: relative;
  height: 24px;
  line-height: 24px;
  font-size: 16px;
}

.form-checkbox span::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background: #ededed;
  border: 1px solid #ccc;
}

.form-checkbox span::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;
  width: 6px;
  height: 3px;
  transform: rotate(-45deg);
  border-bottom: 2px solid #333;
  border-left: 2px solid #333;
  opacity: 0;
  transition: .1s;
}

.form-checkbox input[type="checkbox"]:checked + span:after {
  opacity: 1;
  transition: .1s;
}

.form-text-area {
  border: 1px solid #a8a7a7;
  padding: 0 .6rem;
}

.btn {
  width: 100px;
  height: 60px;
  border-radius: 10px;
}

/*!-------------------------------------------------------------
# layout 
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# layout
--------------------------------------------------------------*/
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

@media (max-width: 576px -1) {
  body {
    position: relative;
    min-height: 100vh;
  }
  header {
    position: absolute;
    top: 0;
    left: 0;
    height: 150px;
  }
  main {
    margin: 0;
    padding: 150px 0 150px;
    height: 100vh;
  }
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 150px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  body {
    position: relative;
    min-height: 100vh;
  }
  header {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
  }
  main {
    margin: 0;
    padding: 100px 0 100px;
    height: 100vh;
  }
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  body {
    position: relative;
    min-height: 100vh;
  }
  header {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
  }
  main {
    margin: 0;
    padding: 100px 0 100px;
    height: 100vh;
  }
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  body {
    position: relative;
    min-height: 100vh;
  }
  header {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
  }
  main {
    margin: 0;
    padding: 50px 0 50px;
    height: 100vh;
  }
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
  }
}

@media (min-width: 1200px) {
  body {
    position: relative;
    min-height: 100vh;
  }
  header {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
  }
  main {
    margin: 0;
    padding: 50px 0 50px;
    height: 100vh;
  }
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
  }
}

/*!-------------------------------------------------------------
# color
--------------------------------------------------------------*/
.red-ajh-0 {
  background: #f20d0d;
}

.red-ajh-5 {
  background: #f2200d;
}

.red-ajh-10 {
  background: #f2330d;
}

.red-ajh-15 {
  background: #f2460d;
}

.red-ajh-20 {
  background: #f2590d;
}

.red-ajh-25 {
  background: #f26c0d;
}

.red-ajh-30 {
  background: #f2800d;
}

.red-ajh-35 {
  background: #f2930d;
}

.red-ajh-40 {
  background: #f2a60d;
}

.red-ajh-45 {
  background: #f2b90d;
}

.red-ajh-50 {
  background: #f2cc0d;
}

.red-ajh-55 {
  background: #f2df0d;
}

.red-ajh-60 {
  background: #f2f20d;
}

.red-ajh-65 {
  background: #dff20d;
}

.red-ajh-70 {
  background: #ccf20d;
}

.red-ajh-75 {
  background: #b9f20d;
}

.red-ajh-80 {
  background: #a6f20d;
}

.red-ajh-85 {
  background: #93f20d;
}

.red-ajh-90 {
  background: #80f20d;
}

.red-ajh-95 {
  background: #6cf20d;
}

.red-ajh-100 {
  background: #59f20d;
}

.red-ajh-105 {
  background: #46f20d;
}

.red-ajh-110 {
  background: #33f20d;
}

.red-ajh-115 {
  background: #20f20d;
}

.red-ajh-120 {
  background: #0df20d;
}

.red-ajh-125 {
  background: #0df220;
}

.red-ajh-130 {
  background: #0df233;
}

.red-ajh-135 {
  background: #0df246;
}

.red-ajh-140 {
  background: #0df259;
}

.red-ajh-145 {
  background: #0df26c;
}

.red-ajh-150 {
  background: #0df280;
}

.red-ajh-155 {
  background: #0df293;
}

.red-ajh-160 {
  background: #0df2a6;
}

.red-ajh-165 {
  background: #0df2b9;
}

.red-ajh-170 {
  background: #0df2cc;
}

.red-ajh-175 {
  background: #0df2df;
}

.red-ajh-180 {
  background: #0df2f2;
}

.red-ajh-185 {
  background: #0ddff2;
}

.red-ajh-190 {
  background: #0dccf2;
}

.red-ajh-195 {
  background: #0db9f2;
}

.red-ajh-200 {
  background: #0da6f2;
}

.red-ajh-205 {
  background: #0d93f2;
}

.red-ajh-210 {
  background: #0d80f2;
}

.red-ajh-215 {
  background: #0d6cf2;
}

.red-ajh-220 {
  background: #0d59f2;
}

.red-ajh-225 {
  background: #0d46f2;
}

.red-ajh-230 {
  background: #0d33f2;
}

.red-ajh-235 {
  background: #0d20f2;
}

.red-ajh-240 {
  background: #0d0df2;
}

.red-ajh-245 {
  background: #200df2;
}

.red-ajh-250 {
  background: #330df2;
}

.red-ajh-255 {
  background: #460df2;
}

.red-ajh-260 {
  background: #590df2;
}

.red-ajh-265 {
  background: #6c0df2;
}

.red-ajh-270 {
  background: #800df2;
}

.red-ajh-275 {
  background: #930df2;
}

.red-ajh-280 {
  background: #a60df2;
}

.red-ajh-285 {
  background: #b90df2;
}

.red-ajh-290 {
  background: #cc0df2;
}

.red-ajh-295 {
  background: #df0df2;
}

.red-ajh-300 {
  background: #f20df2;
}

.red-ajh-305 {
  background: #f20ddf;
}

.red-ajh-310 {
  background: #f20dcc;
}

.red-ajh-315 {
  background: #f20db9;
}

.red-ajh-320 {
  background: #f20da6;
}

.red-ajh-325 {
  background: #f20d93;
}

.red-ajh-330 {
  background: #f20d80;
}

.red-ajh-335 {
  background: #f20d6c;
}

.red-ajh-340 {
  background: #f20d59;
}

.red-ajh-345 {
  background: #f20d46;
}

.red-ajh-350 {
  background: #f20d33;
}

.red-ajh-355 {
  background: #f20d20;
}
