@charset "UTF-8";
/*!--------------------------------------------------------------
# typography
--------------------------------------------------------------*/
/*! webフォントの読み込み */
/*! Noto Sans JP
thin: 100, light: 300, regular: 400, mediam: 500, bold: 700, black: 900
------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900&subset=japanese");
/*! Noto Serif JP
extra-light: 200, light: 300, regular: 400, mediam: 500,
semi-bold: 600, bold: 700, black: 900,
------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+JP:200,300,400,500,600,700,900&subset=japanese");
/*! M PLUS 1p
thin: 100, light: 300, regular: 400, mediam: 500, bold: 700,
extra-bold: 800, black: 900
------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=M+PLUS+1p:100,300,400,500,700,800,900&subset=japanese");
/*! Rounded Mplus 1c 読み込み
thin: 100, light: 300, regular: 400, mediam: 500, bold: 700,
extra-bold: 800, black: 900
------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:100,300,400,500,700,800,900&subset=japanese");
.ff-sans-serif{
  font-family:-apple-system,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue,"Segoe UI","Roboto","Noto Sans JP","Hiragino Kaku Gothic ProN",Meiryo,Osaka,"MS PGothic","Helvetica Neue",Arial,sans-serif;
}

.ff-serif{
  font-family:Georgia,"Times New Roman","Noto Serif JP",Times,serif;
}

.ff-mono{
  font-family:Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
/*!--------------------------------------------------------------
# color
--------------------------------------------------------------*/
.cl-primary{
  color:#26547c;
}

.cl-primary-lt{
  color:#4389c5;
}

.cl-primary-dk{
  color:#142c41;
}

.cl-secondary{
  color:#d90368;
}

.cl-secondary-lt{
  color:#fc469c;
}

.cl-secondary-dk{
  color:#8e0244;
}

.cl-gray{
  color:#8d8891;
}

.cl-gray-lt{
  color:#cccace;
}

.cl-gray-dk{
  color:#4d4a50;
}

.cl-black{
  color:black;
}

.cl-white{
  color:#fafafa;
}

.cl-success{
  color:#0c6;
}

.cl-success-lt{
  color:#66ffb3;
}

.cl-danger{
  color:#e3170a;
}

.cl-danger-lt{
  color:#fa938c;
}

.cl-warning{
  color:#f9c80e;
}

.cl-warning-lt{
  color:#fdeaa3;
}

.cl-info{
  color:#3da5d9;
}

.cl-info-lt{
  color:#bde0f2;
}

.bg-primary{
  background:#26547c;
}

.bg-primary-lt{
  background:#4389c5;
}

.bg-primary-dk{
  background:#142c41;
}

.bg-secondary{
  background:#d90368;
}

.bg-secondary-lt{
  background:#fc469c;
}

.bg-secondary-dk{
  background:#8e0244;
}

.bg-gray{
  background:#8d8891;
}

.bg-gray-lt{
  background:#cccace;
}

.bg-gray-dk{
  background:#4d4a50;
}

.bg-black{
  background:black;
}

.bg-white{
  background:#fafafa;
}

.bg-success{
  background:#0c6;
}

.bg-success-lt{
  background:#66ffb3;
}

.bg-danger{
  background:#e3170a;
}

.bg-danger-lt{
  background:#fa938c;
}

.bg-warning{
  background:#f9c80e;
}

.bg-warning-lt{
  background:#fdeaa3;
}

.bg-info{
  background:#3da5d9;
}

.bg-info-lt{
  background:#bde0f2;
}

.bd-primary{
  border:#26547c;
}

.bd-primary-lt{
  border:#4389c5;
}

.bd-primary-dk{
  border:#142c41;
}

.bd-secondary{
  border:#d90368;
}

.bd-secondary-lt{
  border:#fc469c;
}

.bd-secondary-dk{
  border:#8e0244;
}

.bd-gray{
  border:#8d8891;
}

.bd-gray-lt{
  border:#cccace;
}

.bd-gray-dk{
  border:#4d4a50;
}

.bd-black{
  border:black;
}

.bd-white{
  border:#fafafa;
}

.bd-success{
  border:#0c6;
}

.bd-success-lt{
  border:#66ffb3;
}

.bd-danger{
  border:#e3170a;
}

.bd-danger-lt{
  border:#fa938c;
}

.bd-warning{
  border:#f9c80e;
}

.bd-warning-lt{
  border:#fdeaa3;
}

.bd-info{
  border:#3da5d9;
}

.bd-info-lt{
  border:#bde0f2;
}
/*!-------------------------------------------------------------
# reset
--------------------------------------------------------------*/
*,*::after,*::before{
  box-sizing:inherit;
  background-repeat:no-repeat;
}

@-ms-viewport{
  width:device-width;
}

*::after,*::before{
  vertical-align:inherit;
  text-decoration:inherit;
}

*{
  margin:0;
  padding:0;
}

*:focus,[tabindex="-1"]:focus{
  outline:0 !important;
}
html{
  overflow-y:scroll;
  box-sizing:border-box;

  -webkit-text-size-adjust:100%;
}
body,html{
  font-size:16px;
  font-size:1rem;
  line-height:1.5;
}
body{
  text-align:left;
  font-weight:400;
  font-family:-apple-system,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue,"Segoe UI","Roboto","Noto Sans JP","Hiragino Kaku Gothic ProN",Meiryo,Osaka,"MS PGothic","Helvetica Neue",Arial,sans-serif;

  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}
article,aside,figcaption,figure,footer,header,hgroup,main,nav,section{
  display:block;
}
hr{
  overflow:visible;
  box-sizing:content-box;
  height:0;
}
h1,h2,h3,h4,h5,h6,p{
  margin-top:0;
  margin-bottom:16px;
}
dl,ol,ul{
  margin-top:0;
  margin-bottom:0;
}

dl ol,dl ul,ol ol,ol ul,ul ol,ul ul{
  margin-bottom:1rem;
}

dt{
  font-weight:500;
}

dd{
  margin-bottom:.5rem;
  margin-left:0;
}
table{
  border-collapse:collapse;
}

caption{
  padding-top:.5rem;
  padding-bottom:.5rem;
  caption-side:bottom;
  text-align:left;
}

th{
  text-align:inherit;
}
a{
  background-color:transparent;

  -webkit-text-decoration-skip:objects;
}

a:active,a:hover{
  outline-width:0;
  text-decoration:none;
}

a:not([href]):not([tabindex]),a:not([href]):not([tabindex]):hover{
  color:inherit;
  text-decoration:none;
}

a:not([href]):not([tabindex]):focus{
  outline:0;
}
[role="button"],a,area,button,input:not([type=range]),label,select,summary,textarea{
  -ms-touch-action:manipulation;
  touch-action:manipulation;
}
input{
  border-radius:5px;
}

.btn,button,input[role="button"],input[type="button"],input[type="reset"],input[type="submit"]{
  display:block;
  overflow:visible;
  cursor:pointer;

  -webkit-appearance:button;

     -moz-appearance:button;

          appearance:button;
}

[disabled]{
  cursor:default;
}

[type="number"]{
  width:auto;
}

[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration{
  -webkit-appearance:none;
}

textarea{
  overflow:auto;
  resize:vertical;
}

button,input,optgroup,select,textarea{
  margin:0;
  font-size:inherit;
  font-family:inherit;
  line-height:inherit;
}

optgroup{
  font-weight:bold;
}

[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner,button::-moz-focus-inner{
  padding:0;
  border-style:0;
}

[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner,button:-moz-focusring{
  outline:1px dotted ButtonText;
}

[type="reset"],[type="submit"],button,html [type="button"]{
  -webkit-appearance:button;
}

button,select{
  text-transform:none;
}

button,input,select,textarea{
  border-style:none;
  background-color:transparent;
  color:inherit;
}

select{
  -webkit-appearance:none;
  -moz-appearance:none;
}

select::-ms-expand{
  display:none;
}

select::-ms-value{
  color:currentColor;
}

legend{
  display:table;
  max-width:100%;
  border:0;
  color:inherit;
  white-space:normal;
}

::-webkit-file-upload-button{
  font:inherit;

  -webkit-appearance:button;
}

[type="search"]{
  outline-offset:-2px;

  -webkit-appearance:textfield;
}

input[type="radio"]:checked::before{
  position:absolute;
  top:0;
  left:0;
  display:block;
  width:16px;
  width:1rem;
  height:16px;
  height:1rem;
  border-radius:100%;
}

input[type="radio"]:checked::after{
  position:absolute;
  top:3.2px;
  top:.2rem;
  left:3.2px;
  left:.2rem;
  display:block;
  width:9.6px;
  width:.6rem;
  height:9.6px;
  height:.6rem;
  border-radius:100%;
}
figure{
  margin:0;
}

img{
  border-style:none;
  vertical-align:bottom;
}

svg:not(:root){
  overflow:hidden;
}

input[type="checkbox"],input[type="radio"]{
  position:relative;
  display:none;
}
code,kbd,pre,samp{
  font-size:1em;
  font-family:Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

pre{
  overflow:auto;
  margin:0 0 1rem;

  -ms-overflow-style:scrollbar;
}
[hidden]{
  display:none !important;
}