/*--------------------------------------------------------------
# elements
--------------------------------------------------------------*/

/* form elemnts*/

// text
.frm-text,
.frm-password {
  border: $txt-brd-w $txt-brd-s $txt-brd-c;
  border-radius: $txt-rds;
  @include font-size($base-fs, $txt-lh);
  height: ($txt-lh / $base-fs * 1rem) + ($txt-pdg * 2);
  padding: $txt-pdg;
  background: $txt-bg;
}

// textarea
.frm-textarea {
  border: $txt-brd-w $txt-brd-s $txt-brd-c;
  border-radius: $txt-rds;
  @include font-size($base-fs, $txt-lh);
  height: ($txt-lh / $base-fs * 1rem * $txt-lag) + ($txt-pdg * 2);
  padding: $txt-pdg;
  background: $txt-bg;
}


// radio
.frm-radio {
  margin: 0 1rem 0 0;
  display: flex;
  input[type="radio"] {
    display: none;
  }
  i {
    display: block;
    margin: 0 .25em 0 0;
    position: relative;
    width: $rdo-b-w;
    @include font-size($base-fs, $rdo-lh);
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: $rdo-b-w * .8;
      height: $rdo-b-h * .8;
      border-radius: 100%;
      background: $rdo-b-c;
      border: $rdo-b-brd-w $rdo-b-brd-s $rdo-b-brd-c;
      transform: translate(-50%, -50%);
      display: block;
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: $rdo-b-w * .4;
      height: $rdo-b-h * .4;
      border-radius: 100%;
      background: $rdo-f-c;
      transform: translate(-50%, -50%);
      opacity: 0;
      display: block;
      transition: .2s;
    }
  }
  label {
    @include font-size($base-fs, $rdo-lh);
    display: block;
  }
  input[type="radio"]:checked + i:after {
    opacity: 1;
  }
}

// checkbox
.frm-checkbox {
  margin: 0 1rem 0 0;
  display: flex;
  input[type="radio"] {
    display: none;
  }
  i {
    display: block;
    margin: 0 .25em 0 0;
    position: relative;
    width: $ckbx-b-w;
    @include font-size($base-fs, $ckbx-lh);
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: $ckbx-b-w * .8;
      height: $ckbx-b-h * .8;
      background: $ckbx-b-c;
      border: $ckbx-b-brd-w $ckbx-b-brd-s $ckbx-b-brd-c;
      transform: translate(-50%, -50%);
      display: block;
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: $ckbx-b-w * .5;
      height: $ckbx-b-h * .3;
      border-left: $ckbx-f-brd-w $ckbx-f-brd-s $ckbx-f-c;
      border-bottom: $ckbx-f-brd-w $ckbx-f-brd-s $ckbx-f-c;
      transform: translate(-50%, -50%) rotate(-45deg);
      opacity: 0;
      display: block;
      transition: .2s;
    }
  }
  label {
    @include font-size($base-fs, $rdo-lh);
    display: block;
  }
  input[type="checkbox"]:checked + i:after {
    opacity: 1;
  }
}
// select
.frm-select {
  border: $slct-brd-w $slct-brd-s $slct-brd-c;
  border-radius: $slct-rds;
  @include font-size($base-fs, $slct-lh);
  height: ($slct-lh / $base-fs * 1rem) + ($slct-pdg * 2);
  padding: 0;
  background: $slct-bg;
  position: relative;
  display: inline-block;
  &::after {
    position: absolute;
    width: $slct-tri-w;
    height: $slct-tri-w * 2 * .85; 
    border-top: $slct-tri-w * .85 solid $slct-tri-c;
    border-bottom: $slct-tri-w * .85 solid transparent;
    border-right: $slct-tri-w / 2 solid transparent;
    border-left: $slct-tri-w / 2 solid transparent;
    content: "";
    top: 50%;
    right: $slct-tri-w;
    z-index: 0;
    transform: translate(0, -25%);
    pointer-events: none;
  }
  select {
    appearance: none;
    position: relative;
    width: 100%;
    height: 100%;
    padding: $slct-pdg $slct-pdg * 3 $slct-pdg $slct-pdg;
    z-index: 1;
    background: transparent;
    &::-ms-expand {
      display: none;
    }
  }
}
.frm-file {
  .btn {
    position: relative;
    input[type="file"] {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }
  .slct-fn {
    margin: 0 0 0 1rem;
    input[type="text"] {
      @include font-size($base-fs, $slct-lh);
    }
  }
}
.btn {
  border-radius: $btn-rds;
  padding: $btn-pdg;
  @include font-size($base-fs, $btn-h);
  text-decoration: none;
  border-width: $btn-brd-w;
  border-style: $btn-brd-s;
  text-align: center;
  &-il {
    display: inline-block;
  }
  &-success {
    background: $success;
    border-color: $success;
    color: $white;
    &:hover {
      background: rgba($success, .8);
    }
  }
  &-danger {
    background: $danger;
    border-color: $danger;
    color: $white;
    &:hover {
      background: rgba($danger, .8);
    }
  }
  &-warning {
    background: $warning;
    border-color: $warning;
    color: $black;
    &:hover {
      background: rgba($warning, .8);
    }
  }
  &-info {
    background: $info;
    border-color: $info;
    color: $white;
    &:hover {
      background: rgba($info, .8);
    }
  }
  &-ol-success {
    border-color: $success;
    color: $success;
    &:hover {
      color: $white;
      background: $success;
    }
  }
  &-ol-danger {
    border-color: $danger;
    color: $danger;
    &:hover {
      color: $white;
      background: $danger;
    }
  }
  &-ol-warning {
    border-color: $warning;
    color: $warning;
    &:hover {
      color: $black;
      background: $warning;
    }
  }
  &-ol-info {
    border-color: $info;
    color: $info;
    &:hover {
      color: $white;
      background: $info;
    }
  }
  .fa {
    margin: $btn-fa;
  }
}

