/*--------------------------------------------------------------
# reset
--------------------------------------------------------------*/

/*
# common
--------------------------------------------------------------*/
*,
*::before,
*::after {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

@at-root {
  @-ms-viewport {
    width: device-width;
  }
}

*::before,
*::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  vertical-align:baseline;
  background:transparent;
  &:focus {
    outline: 0 !important;
  }
}

[tabindex= "-1"]:focus {
  outline: 0 !important;
}

/*
# block element
--------------------------------------------------------------*/

/* html */
html {
  box-sizing: border-box;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  font-size: $base-fsp;
  font-size: $base-fsr;
  line-height: $base-lh;
}

/* body */
body {
  text-align: left;
  //background: $clr-bg;
  //color: $clr-txt;
  font-family: $ff-ss;
  font-size: $base-fsp;
  font-size: $base-fsr;
  -moz-osx-font-smoothing : grayscale;
  -webkit-font-smoothing : antialiased;
  font-weight: $base-fw;
  line-height: $base-lh;
}

/* 旧バージョンのブラウザ用 */
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

/* hr */
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

/* 見出し */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: $h-btm-pdg;
}

/* 段落 */
p {
  margin-top: 0;
  margin-bottom: $p-btm-pdg;
}

/* リスト */
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 0;
<<<<<<< HEAD:src/css/_module/_reset.scss
  list-style: none;
=======
>>>>>>> c2adfdb... 2018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019:src/css/_module/_reset.scss
  ol,
  ul {
    margin-bottom: 1rem;
  }
}

dt {
  font-weight: $dt-fw;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

/* テーブル */
table {
  border-collapse: collapse;
}

caption {
  padding-top: $tbl-cl-tp-pdg;
  padding-bottom: $tbl-cl-btm-pdg;
  //color: $tbl-cpt-clr;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

/*
# inline element
--------------------------------------------------------------*/

/* リンク */
a {
  //color: $clr-lnk;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  &:hover {
    //color: $clr-h-lnk;
    text-decoration: none;
    outline-width: 0;
  }
  &:visited {
    //color: $clr-v-lnk;
  }
  &:active {
    //color: $clr-a-lnk;
    text-decoration: none;
    outline-width: 0;
  }
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
  &:focus {
    outline: 0;
  }
}

/* タッチスクリーンでの挙動 */
a,
area,
button,
[role="button"],
input:not([type=range]),
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

/* フォーム */
<<<<<<< HEAD:src/css/_module/_reset.scss
/*input {
=======
input {
>>>>>>> c2adfdb... 2018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019201810192018101920181019:src/css/_module/_reset.scss
  border-radius: $input-r;
}*/

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[role="button"],
.btn {
  display: block;
  cursor: pointer;
  overflow: visible;
}

[disabled] {
  cursor: default;
}

[type="number"] {
  width: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  display: block;
}

optgroup {
  font-weight: bold;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: 0;
  padding: 0;
}

button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button,
select {
  text-transform: none;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}
legend {
  border: 0;
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

input[type="radio"]:checked::before {
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  //background: $clr-stext;
  position: absolute;
  top: 0;
  left: 0;
}

input[type="radio"]:checked::after {
  display: block;
  width: .6rem;
  height: .6rem;
  border-radius: 100%;
  //background: $clr-main;
  position: absolute;
  top: .2rem;
  left: .2rem;
}

/* 画像 */
figure {
  margin: 0;
}

img {
  border-style: none;
  vertical-align: bottom;
}

svg:not(:root) {
  overflow: hidden;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
  position: relative;
}

/* コード */
pre,
code,
kbd,
samp {
  font-family: $ff-m;
  font-size: 1em;
}

pre {
  margin: 0 0 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

/* 非表示データ */
[hidden] {
  display: none !important;
}
