/*--------------------------------------------------------------
# config
  以下の項目を編集して使用してください。
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# base fontの設定
--------------------------------------------------------------*/

/* ベースの文字サイズの設定 */
$base-fs: 16; // pxの数値を設定
$base-fsp: $base-fs * 1px;
$base-fsr: ($base-fs / $base-fs) * 1rem;

/* ベースの行間の設定 */
$base-lhp: 24; // pxの数値を設定
$base-lh: $base-lhp / $base-fs;

/* ベースの書体の設定*/
$base-ff: $ff-ss;

/* ベースの文字ウェイト */
$base-fw: $fw-normal;

/*--------------------------------------------------------------
# site colorの設定
--------------------------------------------------------------*/

/* サイトカラーの設定 */
// メインカラー
$main-clr: #342c41;

// サブカラー
$sub-clr: #90919c;

// アクセントカラー
$accnt-clr: #953e51;

// テキストカラー
$txt-clr: #878e92;

// サブテキストカラー
$stext-clr: #a8a7a7;

// 背景色
$bg-clr: #f5f6f6;

// ボーダー色
$bdr-clr: #a8a7a7;

/* リンクカラーの設定 */
// リンクカラー
$lnk-clr: $accnt-clr;

// リンクカラー訪問済み
$lnk-v-clr: $main-clr;

// リンクカラーマウスオン時
$lnk-h-clr: $main-clr;

// リンクカラークリック時
$lnk-a-clr: $main-clr;

/* ボタンカラーの設定 */

// ボタンカラー
$btn-clr: $main-clr;

// ボタンマウスオン時
$btn-h-clr: $sub-clr;

// ボタンクリック時
$btn-a-clr: $sub-clr;

// ボタンテキストカラー
$btn-txt-clr: $bg-clr;

/*--------------------------------------------------------------
# partsの設定
--------------------------------------------------------------*/

/* ボトムマージン */
//　h1~h6
$h-btm-pdg: 16px;

// p
$p-btm-pdg: 16px;

// ol,ul,dt
$lst-btm-pdg: 16px;

/* ボタンの設定 */
// ボタンの幅
$btn-w: ;

// ボタンの高さ
$btn-h: ;

// ボタンの文字の大きさ
$btn-fs: ;
$btn-fsp: $btn-fs * 1px;
$btn-fsr: ($btn-fs / $base-fs) / 1rem;

// ボタンのline-height
$btn-lh: ($btn-h / $btn-fsp) / 1px;
// ボタンの角丸
$btn-r: 5px;

/* アイコンの設定 */
//アイコンサイズ
$ico-s: 24px;
//アイコンカラー
$ico-clr: $bg-clr;

$input-r: 5px;



/*--------------------------------------------------------------
# layoutの設定
--------------------------------------------------------------*/

/* breakpointの設定 */
// 大型モニター
$min-xl: 1200px;
$max-lg: $min-xl - 1;
$min-lg: 992px;
$max-md: $min-lg - 1;
$min-md: 768px;
$max-sm: $min-md - 1;
$min-sm: 576px;
$max-xs: $min-sm -1;

/* headerの高さ */
$xl-header-height: 50px;
$lg-header-height: 50px;
$md-header-height: 100px;
$sm-header-height: 100px;
$xs-header-height: 150px;

/* footerの高さ */
$xl-footer-height: 50px;
$lg-footer-height: 50px;
$md-footer-height: 100px;
$sm-footer-height: 100px;
$xs-footer-height: 150px;
